{
    "machine": {
        "gpu": 1,
        "cpu": 1000,
        "ram": 18000
    },
    "job": {
        "APIVersion": "V1beta1",
        "Metadata": {
            "CreatedAt": "0001-01-01T00:00:00Z",
            "Requester": {}
        },
        "Spec": {
            "Deal": {
                "Concurrency": 1
            },
            "Docker": {},
            "EngineSpec": {
                "Params": {
                "Entrypoint": null,
                "EnvironmentVariables": [],
                "Image": "zorlin/lilypad-ollama",
                "Parameters": [
                ],
                "WorkingDirectory": ""
                },
                "Type": "docker"
            },
            "Network": {
                "Type": "HTTP",
                "Domains": ["host.docker.internal"]
            },
            "NodeSelectors": [
                {
                    "Key": "architecture",
                    "Operator": "In",
                    "Values": ["applesilicon"]
                }
            ],
            "Outputs": [
                {
                "Name": "outputs",
                "Path": "/outputs"
                }
            ],
            "PublisherSpec": {
                "Type": "ipfs"
            },
            "Resources": {},
            "Timeout": 1800,
            "Wasm": {
                "EntryModule": {}
            }
        }
    }
}
